// $main: #f0d8bb;
$grey: #bdbdbd;
$white: #ffffff;
$black: #1e1f13;

.aboutus-section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #2f2e2e;
  text-align: center;
}

.bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Introduction {
}

.title {
  background-color: #fff;
  width: 500px;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.flex-container {
  height: 300px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
}

.item {
  height: 50px;
  box-sizing: border-box;
  min-width: 50%;
  max-width: 50%;

  h1,
  p {
    color: #fff;
  }

  h1 {
    margin-bottom: 30px;
  }

  p {
    margin-left: 20px;
    margin-right: 20px;
  }

  img {
    width: 100%;
  }
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
  width: auto;
  height: 100%;
  &.fluid {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  @media (min-width: 1024px) {
    max-width: 960px;
  }
  @media (min-width: 1216px) {
    max-width: 1152px;
  }
  @media (min-width: 1408px) {
    max-width: 1560px;
  }

  .row {
    display: flex;
    align-items: center;
    &.space-between {
      justify-content: space-between;
    }
    &.center {
      justify-content: center;
    }
  }
}

.title-short {
  color: #fff;

  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

main {
  .container {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #2f2e2e;
    text-align: center;
    position: relative;
    .row {
      height: 100vh;
      align-items: center;
      .image-container {
        position: relative;
        .thumbnail {
          overflow: hidden;
          position: relative;
          .frame {
            img {
              width: 100%;
            }
          }
        }
        .information {
          position: absolute;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          text-transform: uppercase;
          .location {
            span:nth-child(2) {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}
